<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\ShippingTableRates\Model\Rate" type="Netzexpert\TableRatesConverter\Model\Rate"/>
    <type name="Magento\Quote\Api\Data\CartItemExtensionInterface">
        <plugin name="getShipnentType"
                type="Netzexpert\TableRatesConverter\Plugin\Quote\CartItemExtensionInterfacePlugin" />
    </type>
    <type name="Amasty\ShippingTableRates\Block\Onepage\LayoutProcessor">
        <plugin name="disableChangeTemplateForStorePickup"
                type="Netzexpert\TableRatesConverter\Plugin\Block\Onepage\LayoutProcessorPlugin" />
    </type>
    <type name="Amasty\ShippingTableRates\Model\Rate\ItemValidator">
        <plugin name="validateShippingTypeBasedOnProductOptions"
                type="Netzexpert\TableRatesConverter\Plugin\Model\Rate\ItemValidatorPlugin" />
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product">
        <plugin name="apply_rule_on_configurator"
                type="Netzexpert\TableRatesConverter\Plugin\SalesRule\Model\Rule\Condition\ProductPlugin" />
    </type>
</config>