<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\ShippingTableRates\Model\Rate" type="Netzexpert\TableRatesConverter\Model\Rate"/>
    <type name="Magento\Quote\Api\Data\CartItemExtensionInterface">
        <plugin name="getShipnentType"
                type="Netzexpert\TableRatesConverter\Plugin\Quote\CartItemExtensionInterfacePlugin" />
    </type>
</config>